@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;

  src: url(../fonts/ptsans.woff) format('woff'),
  url(../fonts/ptsans.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;

  src: url(../fonts/ptsansbold.woff) format('woff'),
  url(../fonts/ptsansbold.woff2) format('woff2');
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0;
  margin: 0 auto;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.btn {
  display: block;
  padding: 16px;

  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  border: none;
  background-color: #81b3d2;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-page {
  position: relative;
}

/* header */

.main-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 340px;
  margin: 0;
  padding: 0;

  color: #000000;

  list-style: none;

  flex-wrap: wrap;
}

.menu:last-of-type {
  width: 330px;
}


.menu a {
  display: inline-block;
  padding: 15px 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  vertical-align: middle;

  background-color: #ffffff;
}

.menu a:hover,
.menu a:focus {
  color: #81b3d2;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;

  width: 140px;
  height: 72px;
  margin: auto;

  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* intro */
.intro {
  position: relative;

  padding-top: 75px;
  padding-bottom: 80px;

  background-color: #659bc2;
  background-image: url(../img/background-intro.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.intro img {
  display: block;
  width: 459px;
  height: 353px;
  margin: 0 auto;
}

.intro::after {
  position: absolute;
  bottom: -2px;

  width: 1200px;
  height: 59px;

  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  content: '';
}
/* features */
.features {
  padding-top: 60px;
}

.lead-text {
  width: 445px;
  margin: 0 auto;
  margin-bottom: 34px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
}


.features h3 {
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  color: #000000;
}

.features > p:nth-child(3) {
  margin-bottom: 53px;

  text-align: center;
}

.features-item {
  width: 400px;
  padding-top: 48px;
  padding-right: 48px;
  padding-bottom: 61px;
  padding-left: 48px;

  text-align: center;
}

.features-item p {
  margin: 0;
}



.features-item span {
  display: block;
  margin-bottom: 25px;
}

.recommendations {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.recommendations-item {
  position: relative;

  width: 400px;
  padding-top: 162px;
  padding-right: 55px;
  padding-bottom: 85px;
  padding-left: 55px;
}

.recommendations-item::before {
  position: absolute;
  top: 56px;
  left: 50%;

  width: 75px;
  height: 76px;

  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recommendations-house::before {
  background-image: url(../img/house-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.recommendations-food::before {
  background-image: url(../img/food-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.recommendations-gift::before {
  background-image: url(../img/gift-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.recommendations-item p {
  margin: 0;
}


.features-promo {
  display: flex;
}

.feature-promo img {
  width: 800px;
  height: 256px;
}

.features-promo .features-item {
  color: #ffffff;

  background-color: #81b3d2;
}

.features-promo .promo-title {
  color: #ffffff;
}

.features-row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  background-color: #eeeeee;

  list-style: none;
}

.features-row .features-item {
  padding-right: 70px;
  padding-left: 71px;
  padding-top: 45px;
}

/* apartments */
.apartments {
  position: relative;

  padding-top: 50px;

  text-align: center;
}
.apartments b {
  display: block;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.apartments > p:first-of-type {
  width: 435px;
  margin: 0 auto;
  margin-bottom: 47px;

  line-height: 24px;
}

.apartments .btn {
  font-size: 21px;
  line-height: 26px;
}

.btn-search {
  display: inline-block;
  padding: 30px 138px;
  vertical-align: middle;

  background-color: #766357;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #604e43;
}

.btn-search:active {
  background-color: #503e33;
}

.form-wrap {
  position: absolute;
  top: 289px;
  right: 0;
  left: 0;
  z-index: -1;

  overflow: hidden
}

.form-wrap-show {
  z-index: 1;
}

.search-form {
  width: 568px;
  margin: auto;
  padding: 55px;

  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;

  transition: all .6s cubic-bezier(.6, .01, 0, 1);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.search-form-show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.residence-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 458px;
  margin: 0;
  margin-bottom: 30px;

  align-items: center;
}
.count-grownups {
  display: flex;
  width: 226px;
  margin: 0;

  align-items: center;
}

.count-children {
  display: flex;
  width: 179px;
  margin: 0;

  align-items: center;
}

.count-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.search-form input[type='text'],
.search-form input[type='number'] {
  box-sizing: border-box;

  font: inherit;
  text-transform: uppercase;
  color: inherit;

  border: none;
  background-color: #f2f2f2;
}

.date-input {
  width: 346px;
  padding-top: 6px;
  padding-right: 40px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.count-input {
  width: 38px;
  padding: 6px 15px;
}

.search-form input[type='text']:hover,
.search-form input[type='number']:hover {
  background-color: #ebebeb;
}

.search-form input[type='text']:focus,
.search-form input[type='number']:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.search-form input[type='text']::-webkit-input-placeholder {
  color: #000000;
}

.search-form input[type='text']:-ms-input-placeholder {
  color: #000000;
}

.search-form input[type='text']::-ms-input-placeholder {
  color: #000000;
}

.search-form input[type='text']::placeholder {
  color: #000000;
}

.search-form input[type='text']:focus::-webkit-input-placeholder {
  color: transparent;
};

.search-form input[type='text']:focus:-ms-input-placeholder {
  color: transparent;
}

.search-form input[type='text']:focus::-ms-input-placeholder {
  color: transparent;
}

.search-form input[type='text']:focus::placeholder {
  color: transparent;
}


/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0; /* Removes leftover margin */

  -webkit-appearance: None;
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.step {
  width: 38px;
  height: 38px;

  font: inherit;
  font-size: 20px;
  font-weight: 700;
  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.step:hover,
.step:focus {
  color: #000000;

  outline: none;
}

.step:active {
  color: #81b3d2;

  outline: none;
}

.step-up {
  margin-left: auto;
}

.calendar {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2222%22%3E%3Cpath%20d%3D%22M19.251%202.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363%200-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363%200-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363%200-.657.308-.657.689v1.377H1.75C.784%202.025%200%202.847%200%203.862v16.302C0%2021.179.784%2022%201.75%2022h17.501c.966%200%201.749-.821%201.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437%2018.139a.448.448%200%200%201-.437.459H1.75a.45.45%200%200%201-.438-.459V3.862a.45.45%200%200%201%20.438-.459h2.844v1.378c0%20.381.294.689.657.689.362%200%20.656-.308.656-.689V3.403h3.938v1.378c0%20.381.294.689.657.689.361%200%20.655-.308.655-.689V3.403h3.938v1.378c0%20.381.293.689.656.689.362%200%20.656-.308.656-.689V3.403h2.845c.241%200%20.437.206.437.459v16.302z%22%20fill%3D%22rgba(0%2C%200%2C%200%2C%200.3)%22%2F%3E%3Cpath%20d%3D%22M4.594%208.225h2.625v2.066H4.594zM4.594%2011.668h2.625v2.067H4.594zM4.594%2015.112h2.625v2.066H4.594zM9.188%2015.112h2.625v2.066H9.188zM9.188%2011.668h2.625v2.067H9.188zM9.188%208.225h2.625v2.066H9.188zM13.781%2015.112h2.625v2.066h-2.625zM13.781%2011.668h2.625v2.067h-2.625zM13.781%208.225h2.625v2.066h-2.625z%22%20fill%3D%22rgba(0%2C%200%2C%200%2C%200.3)%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}


.calendar:hover,
.calendar:focus {
  outline: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2222%22%3E%3Cpath%20d%3D%22M19.251%202.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363%200-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363%200-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363%200-.657.308-.657.689v1.377H1.75C.784%202.025%200%202.847%200%203.862v16.302C0%2021.179.784%2022%201.75%2022h17.501c.966%200%201.749-.821%201.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437%2018.139a.448.448%200%200%201-.437.459H1.75a.45.45%200%200%201-.438-.459V3.862a.45.45%200%200%201%20.438-.459h2.844v1.378c0%20.381.294.689.657.689.362%200%20.656-.308.656-.689V3.403h3.938v1.378c0%20.381.294.689.657.689.361%200%20.655-.308.655-.689V3.403h3.938v1.378c0%20.381.293.689.656.689.362%200%20.656-.308.656-.689V3.403h2.845c.241%200%20.437.206.437.459v16.302z%22%20fill%3D%22rgba(0%2C%200%2C%200)%22%2F%3E%3Cpath%20d%3D%22M4.594%208.225h2.625v2.066H4.594zM4.594%2011.668h2.625v2.067H4.594zM4.594%2015.112h2.625v2.066H4.594zM9.188%2015.112h2.625v2.066H9.188zM9.188%2011.668h2.625v2.067H9.188zM9.188%208.225h2.625v2.066H9.188zM13.781%2015.112h2.625v2.066h-2.625zM13.781%2011.668h2.625v2.067h-2.625zM13.781%208.225h2.625v2.066h-2.625z%22%20fill%3D%22rgba(0%2C%200%2C%200)%22%2F%3E%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar:active {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2222%22%3E%3Cpath%20d%3D%22M19.251%202.025h-2.845V.648c0-.381-.294-.689-.656-.689-.363%200-.656.308-.656.689v1.377h-3.938V.648c0-.381-.294-.689-.655-.689-.363%200-.657.308-.657.689v1.377H5.906V.648c0-.381-.294-.689-.656-.689-.363%200-.657.308-.657.689v1.377H1.75C.784%202.025%200%202.847%200%203.862v16.302C0%2021.179.784%2022%201.75%2022h17.501c.966%200%201.749-.821%201.749-1.836V3.862c0-1.015-.783-1.837-1.749-1.837zm.437%2018.139a.448.448%200%200%201-.437.459H1.75a.45.45%200%200%201-.438-.459V3.862a.45.45%200%200%201%20.438-.459h2.844v1.378c0%20.381.294.689.657.689.362%200%20.656-.308.656-.689V3.403h3.938v1.378c0%20.381.294.689.657.689.361%200%20.655-.308.655-.689V3.403h3.938v1.378c0%20.381.293.689.656.689.362%200%20.656-.308.656-.689V3.403h2.845c.241%200%20.437.206.437.459v16.302z%22%20fill%3D%22%2381b3d2%22%2F%3E%3Cpath%20d%3D%22M4.594%208.225h2.625v2.066H4.594zM4.594%2011.668h2.625v2.067H4.594zM4.594%2015.112h2.625v2.066H4.594zM9.188%2015.112h2.625v2.066H9.188zM9.188%2011.668h2.625v2.067H9.188zM9.188%208.225h2.625v2.066H9.188zM13.781%2015.112h2.625v2.066h-2.625zM13.781%2011.668h2.625v2.067h-2.625zM13.781%208.225h2.625v2.066h-2.625z%22%20fill%3D%22%2381b3d2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}


.search-form .btn {
  display: block;
  width: 100%;
}

.map {
  position: relative;
}

.map iframe {
  width: 1200px;
  height: 596px;
  position: absolute;
  border: none;
}
.map img {
  width: 1200px;
  height: 596px;
}
/* footer */
.main-footer {
  display: flex;
  min-height: 120px;
  padding-top: 36px;
  padding-right: 101px;
  padding-bottom: 36px;
  padding-left: 132px;

  background-color: rgba(255, 255, 255, 0.9);

  align-items: center;
}

.main-page .main-footer {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
}


.hashtag {
  width: 136px;
  margin: 0;
  margin-right: 255px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;

  flex-wrap: wrap;
}

.social-btn {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;

  align-items: center;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active path {
  fill: rgba(255, 255, 255, .3);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  width: 197px;
  margin: 0;
  margin-left: auto;

  align-items: center;
}

.footer-copyright a {
  width: 113px;
  height: 39px;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
  fill: #81b3d2;
}

.footer-copyright-link:active path {
  fill: #bdbbbc;
}

.menu-active a {
  color: #766357;
}

.filters {
  padding: 30px 72px 10px;

  color: #ffffff;

  background-color: #647e94;
  background-image: url('../img/filter-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter-form {
  display: flex;
}


.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-group {
  width: 140px;
  margin: 0;
  padding: 0;
}

.filter-form fieldset:first-child {
  margin-right: 115px;
}

.filters legend {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.filter-option {
  margin-bottom: 24px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: -3px;
  left: -40px;

  width: 30px;
  height: 30px;

  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M20%202c.542%200%201%20.458%201%201v17c0%20.542-.458%201-1%201H3c-.542%200-1-.458-1-1V3c0-.542.458-1%201-1h17m0-2H3C1.35%200%200%201.35%200%203v17c0%201.65%201.35%203%203%203h17c1.65%200%203-1.35%203-3V3c0-1.65-1.35-3-3-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: left center;

  content: '';
}

.filter-input-checkbox:checked + label::before {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2223%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M7.285%207.486l-2.829%202.829%207.783%207.783L26.171%204.166l-2.828-2.829-11.104%2011.102z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21%2020c0%20.542-.458%201-1%201H3c-.542%200-1-.458-1-1V3c0-.542.458-1%201-1h16.908L21.493.415A2.96%202.96%200%200%200%2020%200H3C1.35%200%200%201.35%200%203v17c0%201.65%201.35%203%203%203h17c1.65%200%203-1.35%203-3v-9.829l-2%202V20z%22%2F%3E%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M20%202c.542%200%201%20.458%201%201v17c0%20.542-.458%201-1%201H3c-.542%200-1-.458-1-1V3c0-.542.458-1%201-1h17m0-2H3C1.35%200%200%201.35%200%203v17c0%201.65%201.35%203%203%203h17c1.65%200%203-1.35%203-3V3c0-1.65-1.35-3-3-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2223%22%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M7.285%207.486l-2.829%202.829%207.783%207.783L26.171%204.166l-2.828-2.829-11.104%2011.102z%22%2F%3E%3Cpath%20fill%3D%22%236a6a6a%22%20d%3D%22M21%2020c0%20.542-.458%201-1%201H3c-.542%200-1-.458-1-1V3c0-.542.458-1%201-1h16.908L21.493.415A2.96%202.96%200%200%200%2020%200H3C1.35%200%200%201.35%200%203v17c0%201.65%201.35%203%203%203h17c1.65%200%203-1.35%203-3v-9.829l-2%202V20z%22%2F%3E%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: left center;
}

.filter-input-checkbox:focus + label::before {
  outline: 2px solid #81b3d2;
}

.filter-input-checkbox:disabled + label {
  color: #6a6a6a;
}

.filter-btn {
  margin: 0 auto;
  padding: 6px 35px;

  font-weight: 400;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: #000000;

  background-color: #ffffff;
}

.filter-range {
  box-sizing: content-box;
  width: 314px;
  margin-left: auto;
  padding: 0;
}

.filter-range legend {
  margin-bottom: 7px;
}

.price-controls {
  position: relative;

  height: 34px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;

  content: '';
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  border: none;
  background: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);

  cursor: pointer;
}

.range-toggle:hover {
  border-width: 10px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.result-wrap-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 72px;

  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px solid #e5e5e5;

  align-items: center;
}

.result-column {
  display: flex;
  width: 520px;

  align-items: flex-end;
}

.result-column p {
  margin-top: 0;
  margin-bottom: 0;
}

.result-title {
  margin: 0;
  margin-right: 47px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.result-sort {
  display: flex;
  justify-content: space-between;
  width: 238px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  color: rgba(0, 0, 0, .3);

  list-style: none;
}

.result-sort a {
  color: rgba(0, 0, 0, .3);

  border-bottom: 1px dashed #81b3d2;
}

.result-sort a:hover {
  color: #81b3d2;

  border-bottom: 1px dashed #81b3d2;
}

.result-sort a:active {
  color: #000000;

  border-bottom: transparent;
}

.result-sort .active {
  color: #81b3d2;

  border-bottom: none;
}

.sort-controls {
  position: relative;

  width: 35px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.btn-sort {
  position: absolute;

  width: 0;
  height: 0;

  border-top: solid 10px #cccccc;
  border-right: solid 6px transparent;
  border-left: solid 6px transparent;
}

.btn-up {
  top: -2px;

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-down {
  top: -2px;
  right: -1px;
}

.btn-sort:hover {
  border-top: solid 10px #000000;
}

.btn-sort:active {
  border-top: solid 10px #81b3d2;
}

.btn-sort-active {
  border-top: solid 10px #81b3d2;
}

.apartment-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.apartment-item {
  display: flex;
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.apartment-wrap {
  display: flex;
  width: 100%;
  max-width: 423px;
}

.apartment-item-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 258px;
  margin-left: 30px;
}


.apartment-item-head {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.apartment-item-head a {
  color: #000000;
  vertical-align: top;
}

.apartment-item-head a:hover {
  color: #81b3d2;
}

.apartment-item-head a:active {
  color: rgba(0, 0, 0, .3);
}

.apartment-item-text {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0;
}

.preview {
  width: 135px;
  height: 90px;
}

.apartament-action {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.apartament-action .btn {
  padding: 4px 15px;

  color: #ffffff;
}

.apartament-rating {
  max-width: 112px;
  margin-left: auto;
}


.raiting-list {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 45px;

  list-style: none;
}

.raiting-item {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.raiting-item img {
  max-width: none;
}

.apartament-rating p {
  margin: 0;
  padding-top: 4px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 16px;

  color: #666666;

  background-color: #f2f2f2;
}

.btn-reserve {
  color: #ffffff;

  background-color: #766357;
}


.btn-reserve:hover,
.btn-reserve:focus {
  background-color: #604e43;
}

.btn-reserve:active {
  background-color: #503e33;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
