@font-face{
	font-family: 'PT Sans';
	font-weight: 400;
	font-style: normal;
	src:local('PTSans Regular'),
	local('PTSans-Regular'),
	url(../fonts/ptsans.woff2) format('woff2'),
	url(../fonts/ptsans.woff) format('woff'),
	url(../fonts/ptsans.ttf) format('ttf');
}

@font-face{
	font-family:'PT Sans';
	font-weight: 700;
	font-style: normal;
	src:local('PTSans Bold'),
	local('PTSans-Bold'),
	url(../fonts/ptsansbold.woff2) format('woff2'),
	url(../fonts/ptsansbold.woff) format('woff'),
	url(../fonts/ptsansbold.ttf) format('ttf');
}

.page {
	font-family:"PT Sans", sans-serif, Arial;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	background-color:#ffffff;
}
/* header */
.menu {
	list-style: none;
}

.main-navigation a {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

/* intro */
.intro {
	background-color: #659bc2;
	background-image: url(../img/background-intro.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	
}
/* features */
.lead-text {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
/* features title of features-item  */
.features h3 {
	font-size: 21px;
	color: #000000;
}

.recommendations {
	list-style: none;
}

.features-promo .features-item {
	color: #ffffff;
	background-color: #81b3d2;
}

.features-promo .promo-title {
	color: #ffffff;
}

.features-row {
	list-style: none;
	background-color: #eeeeee;
}
/* apartments */
.apartments b {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.apartments p {
	line-height: 24px;
}

.popup {
	color: #000000;
	line-height: 26px;
	font-weight: 700;
}

.popup input[type="text"],
.popup input[type="number"] {
	box-sizing: border-box;
	color: inherit;
	font:inherit;
	text-transform: uppercase;
}

.btn {
	background-color: #81b3d2;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	border:none;
}

.apartments .btn {
	font-size: 21px;
	line-height: 26px;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-search {
	background-color: #766357;
}
/* footer */
.main-footer p {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-social {
	list-style: none;
}
/*.footer-social {
	font-size: 0;
}*/

/*hotels.html*/ 
.filters {
	color: #ffffff;
	background-color: #647e94;
	background-image: url('../img/filter-background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}

.filters legend {
	font-weight: 700;
}

.filter-btn {
	font-weight: 400;
	text-transform: uppercase;
	background-color: transparent;
}

.result-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.result-sort {
	font-size: 12px;
	line-height: 18px;
}

.result-sort a {
	color: rgba(0, 0, 0, 0.3);
	 border-bottom: 1px dashed #81b3d2;
	 cursor: pointer;
}

.result-sort .active {
	color: #81b3d2;
	border-bottom: none;
}

.raiting-list {
	list-style:  none;
}

.apartment-list {
	list-style: none;
}

.apartment-item-head {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.btn-reserve {
	background-color: #766357;
}

.apartament-rating p {
	color: #666666;
}